html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.sfondo-0, .sfondo-1, .sfondo-2 {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.container-fluid > .row:first-child {
    background-color: #fff;
    position: relative;
    z-index: 10;
    padding: 0;
    margin: 0;
    width: 100%;
}

.container-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
}



.titolo{
    font-size: 100px;
}

.titoletti{
    font-size: 60px;
}

.titolini{
    font-size: 30px;
}

.testo{
    font-weight: normal;
    font-size: 20px;
}

    


.logo{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-left: 40px;
    
}

.no-lista{
    white-space: nowrap;
    display: flex;
    list-style: none;
    gap: 40px; /* me lo distanzia da destra */
    justify-content: flex-end;
    padding-top: 40px;
    background-color: #ffffff;
    padding-bottom: 40px;   /*crea lo spazio sotto */
    padding-right: 40px;   /*crea lo spazio a destra */
}

.contenuti-lista{
    display: inline-block;
}

/* Dropdown menu per progetti */
.nav-item {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
    padding: 10px 0;
    margin-top: 5px;
    border-radius: 5px;
    z-index: 1000;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 18px;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.nav-item:hover .dropdown-content {
    display: block;
}

.contenuti-lista a {
    color: #000000;
    text-decoration: none;
}

.contenuti-lista a:hover {

    color: #016e11;
}

.nav-link-progetti {
    cursor: pointer;
}

.nav-link-progetti:hover {
    color: #016e11;
}

/* tra design, arte e natura */
.titolo-grande{
    font-size: 100px;
    font-weight: 700;
    line-height: 1.2;
    color: #000000;
    padding-left: 40px;
    
}

.sfondo-0{
    background: transparent url('../img/foto_sfondo_!.png') no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 750px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    
}

.chi-sono{
    font-weight: 700;
    line-height: 1.2;
    color: #000000;
    padding-top: 40px;
    padding-bottom:40px;
}

.foto-mia{
    max-width: 100%;
    height: auto;
    display: block;
    padding-right: 40px;
}




/* progetti grafici */
.sfondo-1{
    background: transparent url('../img/foto_sfondo_1.JPG') no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.titolo-progetti{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: #000000;
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* genesi */
.genesi{
    font-weight: 700;
    line-height: 1.2;
    color: #000000;
    padding-left: 40px;
    padding-top: 50px;
}

.genesi-foto{
    width: 100%;
    height: auto;
    display: block;
}

.genesi-foto-1{
    width: 100%;
    height: auto;
    display: block;
    padding: 40px;


}

/* protezione da motocross */
.img-box {
  width: 100%;
  aspect-ratio: 550 / 600;     /* mantiene la proporzione 550x600 */
  max-height: 80vh;            /* si adatta allo schermo, massimo 80% in altezza */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 40px;
  padding-top: 40px;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.protezione-motocross{
    width: 100%;
    height: auto;
    display: block;
    padding-right: 40px;
}

.paraschiena-1{
    padding-left: 40px;
}

.paraschiena-2{
    padding-right: 40px;
}

/* luce */
.luce-foto{
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 40px;
    padding-left: 40px;
}

.luce-foto-1{
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 40px;
    height: 600px;
    padding-left: 40px;
    padding-right: 40px;
}

/* le mie inspirazioni */
.sfondo-2{
    background: transparent url('../img/foto_sfondo_2.JPG') no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

}

.titolo-ispirazioni{
    text-align: center;
    padding-bottom: 30px;
    
}

.titolo-ispirazioni-1{
    text-align: center;
}

.ispirazioni{
    width: 100%;
    display: block;
    padding-bottom: 10px;
    height: 370px;
    padding-top: 40px;
}

.padding-ispirazioni{
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

/* contatti */
.contatti{
    background-color: #D9D9D9;
    height: 400px;
    font-weight: bold;
    line-height: 1.2;
    color: #000000;
    padding: 40px;  
    text-align: center;
}

.contatti h2 {  
    font-size: 40px;
    margin-bottom: 20px;
}

.scritta-contatti{
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2;
    color: #000000;
    padding-left: 0;  
    padding-top: 20px;  
    padding-bottom: 20px;  
    text-align: center;
}

.scrivetemi-bottone{
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    color: #000000;
    padding-left: 0;  
    padding-top: 15px;  
    text-align: center;
}

.scrivetemi-bottone a {  
    color: #000000;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.scrivetemi-bottone a:hover {  
    background-color: #016e11;
    color: #fff;
}


/* versione mobile */
@media (max-width: 768px) {
    
    .testo{
        font-size: 20px;
      
    }
    
    .titolini{
        font-size: 30px;
        

    }
    
    .titolo-grande {
        font-size: 60px;
        padding-bottom: 200px;
    }

    .titoletti{
        font-size: 30px;
        padding-top: 20px;  
        padding-left: 20px;  
        padding-right: 20px;  
        text-align: center;
        align-items: center;
        justify-content: center;
    }
   
   
    /* tra design, arte e natura */
   
    

    /* chi sono */
    .chi-sono .col-4,
    .chi-sono .col-6 {
        width: 100% !important;
        margin-left: 0 !important;
        padding: 0 px;
    }
    
    .chi-sono .offset-1 {
        margin-left: 0 !important;
    }
    
    .chi-sono .row {
        flex-direction: column;
    }
    
    .chi-sono {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        
    }

    .chi-sono-testo{
        padding-right: 20px;
    }
     
    .foto-mia {
        width: 100%;
        max-width: 400px;
        height: auto;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        align-items: center;
        padding-top: 20px;
        padding-right: 20px;
    }
       
    
    /* progetti  grafici */
    
    .genesi .col-6,
    .genesi .col-4,
    .genesi .col-12 {
        width: 100% !important;
        margin-left: 0 !important;
        padding: 0 20px;
    }
    
    
    
    .genesi .row {
        flex-direction: column;
       
    }

  
    
    .genesi {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .genesi .row:first-child .col-6 {
        order: 2;
    }
    
    .genesi .row:first-child .col-4 {
        order: 1;
    }
    
  .genesi-foto{
    padding-top: 20px;

  }

  .genesi-foto-1{
    padding: 20px;
  }

  /* protezione da motocross */
  

    #protezione .col-4,
    #protezione .col-6 {
        width: 100% !important;
        margin-left: 0 !important;
      
    }
    
    #protezione .offset-1 {
        margin-left: 0 !important;
    }
    
    #protezione .row {
        flex-direction: column;
    }
    
    /* Ordine elementi: prima il testo, poi la foto */
    #protezione .col-6 {
        order: 2;
    }
    
    #protezione .col-4 {
        order: 1;
    }
    
    #protezione .titolini {
        text-align: left;
        padding-left: 20px;
       
    }
    
    
    
    #protezione .protezione-motocross {
        width: 100%;
        max-width: 500px;
        height: auto;
        display: block;
       
    }
    
    /* Sezione con le due immagini una dopo l'altra */
    .row .col-6.img-box {
        width: 100% !important;
        
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .paraschiena-1,
    .paraschiena-2 {
        width: 100%;
        
        height: auto;
        display: block;
    }

    .testo-motcross{
       
        padding-left: 20px;
        padding-right: 20px;
        text-align: left
        
    }

    .paraschiena-1{
        padding-left: 20px;
        padding-right: 20px;
       
       
    }

    .paraschiena-2{
        padding-left: 20px;
        padding-right: 20px;
       
    }

    .protezione-motocross{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    .img-box{
       padding-bottom: 20px;
        padding-top: 20px;
    }



    /* luce */
    .luce .col-6,
    .luce .col-4 {
        width: 100% !important;
        margin-left: 0 !important;
        
    }
    
    .luce .offset-1 {
        margin-left: 0 !important;
    }
    
    .luce .row {
        flex-direction: column;
    }
    
    /* Ordine elementi: prima il testo, poi la foto */
    .luce .col-6 {
        order: 2;
    }
    
    .luce .col-4 {
        order: 1;
    }
    
    .luce .titolini {
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        
    }
    
    .luce .testo {
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        
    }
    
    .luce .luce-foto {
        width: 100%;
        max-width: 500px;
        height: auto;
        display: block;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .luce-foto-1{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        height: 250px;

    }

    
    
    /* le mie ispirazioni */
    #ispirazioni .offset-4.col-4 {
        margin-left: 0 !important;   /* annulla l’offset */
        width: 100% !important;       /* colonna piena */
        max-width: 100% !important;
    }
    
    /* Titolo mobile */
    .titolo-ispirazioni {
        font-size: 1.8rem;         /* leggibile ma non enorme */
        line-height: 1.2;
    }

    /* Sottotitolo mobile */
    .titolo-ispirazioni-1 {
        font-size: 1rem;
        
    }


    .padding-ispirazioni .col-4 {
        width: 100% !important;
        max-width: 100% !important;
        /* spazio tra le card */
    }

    /* Titoli */
    .titolini {
        font-size: 1.4rem;
       
    }

    /* Testo descrizione */
    .testo {
        font-size: 1rem;
        margin-top: 5px;
    }

    .ispirazioni {
        width: 100%;
        height: 220px;            /* puoi modificarlo in base al design */
        object-fit: cover;        /* mantiene proporzioni e ritaglia i bordi */
        object-position: center;  /* centra il ritaglio */
        padding-top: 20px;
        padding-bottom: 20px;
        
    }

    .padding-ispirazioni{
        padding-left: 20px;
        padding-right: 20px;
       padding-bottom: 20px;
    
        margin: 0;
    }
}